{% extends 'index.html' %}

{% block 'body' %}

    <div class="row">
            <div class="col-lg-6">
            <img src="{{unit.image_url}}" style="width: 100%" alt="">       <!-- modify image size -->
        </div>
        <div class="col-lg-6">
            <h3>Model: {{unit.model}}</h3>
            <h3>Make: {{unit.make}}</h3>
            <h3>Type: {{unit.type}}</h3>

            {% if is_modify_user %}                                         <!-- hide price -->
                <h3>Price: {{unit.price}}</h3>
            {% endif %}

            <p>Description: {{unit.description}}</p>

            {% if is_modify_user %}
            <a href="{% url 'unit-edit' unit.id %}" class="btn btn-success">Edit</a>        <!-- do not forget unit.id -->
            <a href="{% url 'unit-delete' unit.id %}" class="btn btn-danger">Delete</a>     <!-- do not forget unit.id -->
            {% endif %}
        </div>
    </div>
        <div class="row">
        <div class="col-lg-12">
            <!--//here include reviews with vars for (reviews and form)-->
            <!--// rewrite get 'context_object_data' function-->

            {% block 'inner_content' %}

            {% endblock %}

        </div>
    </div>

{% endblock %}
