{% extends 'index.html' %}

{% block 'body' %}

    {% if units %}
    <div class="row">
        {% for unit in units %}
         <div class="col-lg-4">
              <div class="card" style="width: 18rem;">
          <img src="{{unit.image_url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">{{unit.make}}</h3>
            <h5 class="card-title">{{unit.model}}</h5>
            <h5 class="card-title">Price: {{unit.price}} BGN</h5>         <!--  Make it visible for STUFF USER -->
            <p class="card-text">{{unit.description}}</p>
            <a href="{% url 'unit-details' unit.id %}" class="btn btn-primary">See details</a>     <!-- include "unit.id" to specify which unit to present -->
          </div>
        </div>
         </div>
        {% endfor %}

    </div>
    {% else %}

    <h1>No units. <a href="">Create one?</a></h1>      <!-- Forward to Create Unit template -->

    {% endif %}

{% endblock %}
