{% extends 'index.html' %}

{% block 'body' %}

<div id="CONTAINER">
<div class="row mb-5 justify-content-md-center">

	<!--<div class="col-lg-3 p-0 m-0"></div>-->
    <div class="px-5 pt-0 pb-5 mb-5" style="width: 55rem;">
		<div id="CENTER-TOPIC">
			<h1 class="TopicStyle3"><b>ABOUT US</b></h1>
		</div>
	<br>
	<center>
	<div class="row">

		<div class="col-lg-6 p-0">
			<div class="card rounded-0" style="width: 20rem; margin:0; border-color: #4374ad;">
				<div class="card-header rounded-0 p-1 pt-2" style="background-color: #27909b;">
					<center><h4><b>History</b></h4></center>
				</div>

				<div class="card-body rounded-0 p-2" style="background-color: #2c3451;">
					<img src="http://www.smplus.org/pics/structure/History-01.jpg" alt="History Image" class="card-img-top rounded-0" style="max-width: 300px; max-height: 300px">
				</div>

				<div class="card-body rounded-0 px-3 pt-3 pb-3.5 text-left" style="background-color: #4374ad; font-size: 13px; font-family: Verdana; line-height: 22px;">
					SM PLUS Electronics Ltd. was established in 2000 year in the city of Plovdiv,
					Bulgaria with main orientation in the following directions -
					SMD and PTH modules and montage, design and manufacture of hybrid integrated
					circuits, design and manufacture of single and double-sided PCBs, design and
					manufacturing of control and automation components and devices and distribution
					of electronic components.<br />&nbsp;<br />
					One of the most important aspects of our company's activity is the continual
					improvement of our products, not only in the functional side but also their
					meteorological characteristics. Our purpose is to satisfy our customers'
					requirements and also to answer the high European standards and regulations.
					<br /><br /><br /><br /><br />
				</div>

			</div>
		</div>



		<div class="col-lg-6 p-0 mb-5">
			<div class="card rounded-0" style="width: 20rem; margin:0; border-color: #4374ad;">
				<div class="card-header rounded-0 p-1 pt-2" style="background-color: #27909b;">
					<center><h4><b>Products &amp; Services</b></h4></center>
				</div>
				<div class="card-body rounded-0 p-2" style="background-color: #2c3451;">
					<img src="http://www.smplus.org/pics/structure/Business-01.jpg" alt="Business Lines Image" class="card-img-top rounded-0" style="max-width: 300px; max-height: 300px">
				</div>

				<div class="card-body rounded-0 p-3 text-left" style="background-color: #4374ad;">
				<div class="Block-List-UL-NoPadMar">
					<ul>
						<li>&raquo &nbsp; SM 9xx - Temperature Controllers</li>
						<li>&raquo &nbsp; SM 3xx - Counters</li>
						<li>&raquo &nbsp; SM 4xx - Timers</li>
						<li>&raquo &nbsp; SM 5xx - Panel Indicators</li>
						<li>&raquo &nbsp; SM 6xx - Flow Controllers</li>
						<li>&raquo &nbsp; SM 7xx - Humidity Controllers</li>
						<li>&raquo &nbsp; SM 8xx - Special Application</li>
						<li>&raquo &nbsp; SM 11xx - Hour Meters</li>
						<li>&raquo &nbsp; SM 107x - Wireless Com. Converters</li>
						<li>&raquo &nbsp; SM 106x - Wired Com. Converters</li>
						<li>&raquo &nbsp; SM 104x - In/Out Expansion Modules</li>
						<li>&raquo &nbsp; SM 103x - Output Expansion Modules</li>
						<li>&raquo &nbsp; SM 7xxx - Power Units</li>
						<li>&raquo &nbsp; SM 2xx - Rotary Encoders</li>
						<li>&raquo &nbsp; SM 1xx - Sensors</li>
						<li>&raquo &nbsp; Whole system development</li>
						<li>&raquo &nbsp; Old system replacement</li>
						<li>&raquo &nbsp; Manual and Automatic PCB design</li>
						<li>&raquo &nbsp; Manufacturing of one or two side PCB</li>
						<li>&raquo &nbsp; HIC design &amp; production</li>
						<li>&raquo &nbsp; Surface Mount (SMT) assembly</li>
						<li>&raquo &nbsp; Through hole components placing</li>
						<li>&raquo &nbsp; Components Supply</li>
					</ul>
				</div>
				</div>

			</div>
		</div>

		<!--<div class="col-lg-1"></div>-->
	</div>
	</center>

    </div>

</div> <!-- End of MAIN ROW -->
</div> <!-- End of CONTAINER -->

{% endblock %}
