{% extends 'index.html' %}

{% block 'body' %}

<div id="CONTAINER">
<div class="row mb-5 justify-content-md-center">

	<!--<div class="col-lg-3 p-0 m-0"></div>-->
    <div class="px-5 pt-0 pb-5 mb-5" style="width: 55rem;">
		<div id="CENTER-TOPIC">
			<h1 class="TopicStyle3"><b>CONTACTS</b></h1>
		</div>
	<br>
	<center>
	<div class="row justify-content-md-center">

		<div class="col-lg-6 p-0 mb-5">
			<div class="card rounded-0" style="width: 20rem; margin:0; border-color: #4374ad;">
				<div class="card-header rounded-0 p-1 pt-2" style="background-color: #27909b;">
					<center><h4><b>Head Office</b></h4></center>
				</div>
				<div class="card-body rounded-0 p-2" style="background-color: #2c3451;">
					<img src="http://www.smplus.org/pics/structure/Office-01.jpg" alt="Office" class="card-img-top rounded-0" style="max-width: 300px; max-height: 300px">
				</div>

				<div class="card-body rounded-0 p-2 pl-5 text-left" style="background-color: #4374ad;">
				<div class="Block-List-UL-NoPadMar">
					<ul>
						<li>&nbsp;</li>
						<li>&raquo &nbsp; BULGARIA</li>
						<li>&raquo &nbsp; Plovdiv, P.O. 4023</li>
						<li>&raquo &nbsp; Trakia  bl.171  Ground Floor</li>
						<li>&raquo &nbsp; Phone &bull; +359 32 681453</li>
						<li>&raquo &nbsp; Phone &bull; +359 32 680097</li>
						<li>&raquo &nbsp; Mobile &bull; +359 886 321772</li>
						<li>&raquo &nbsp; E-mail &bull; <a href="mailto:info@smplus.org" style="color: yellow;">info@smplus.org</a></li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
					</ul>
				</div>
				</div>

			</div>
		</div>

		<!--<div class="col-lg-1"></div>-->
	</div>
	</center>

    </div>

</div> <!-- End of MAIN ROW -->
</div> <!-- End of CONTAINER -->

{% endblock %}

