<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">


<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

<title>СМ ПЛЮС ЕЛЕКТРОНИКС - За Нас</title>

    <!--<link href="../../styles/MainStyles.css" rel="stylesheet" type="text/css" />-->
    <!--<link href="../../styles/CSSMenu.css" rel="stylesheet" type="text/css" />-->
    <!--<link href="../../styles/UnitStyles.css" rel="stylesheet" type="text/css" />-->
    <!--<link href="../../styles/StructureStyles.css" rel="stylesheet" type="text/css" />-->

    <!-- Local CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'units.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'reviews.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSSMenu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'MainStyles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'StructureStyles.css' %}">
    <!--<link rel="stylesheet" type="text/css" href="{% static 'UnitStyles.css' %}">-->


</head>

<body style="margin: 0; background-color: #808080;">

<div id="CONTAINER">

		<div id="CENTER-ALL">
		<div id="CENTER">
			<div id="CENTER-TOPIC">
			<h1 class="TopicStyle3">ЗА НАС</h1>
			</div>


		<div class="BLOCK-Container">
			<div class="BLOCK-Left">
				<div class="Block-Title">Нашата История</div>
				<div class="Block-Picture">
					<img alt="History Image" height="53" src="../../pics/structure/History-01.jpg" width="245" /></div>
				<div class="Block-TextNoBorder">
					СМ ПЛЮС Електроникс е създадена през 2000г. в гр.Пловдив и е
					специализирана в следните направления - SMD и конвенционален монтаж,
					проектиране и производство на хибридни интегрални схеми,
					проектиране и производство на едно- и двустранни печатни платки,
					доставка на електронни компоненти, разработка и производство
					на уреди за контрол и автоматизация.<br />&nbsp;<br />
					Един от най-важните аспекти в дейността на фирмата е непрекъснатото
					повишаване на качеството на предлаганите изделия, както във функционално,
					така и в метрологично отношение. Крайната ни цел е удовлетворяване на
					изискванията на клиентите и повишаване качеството на предлаганите изделия
					и дейности , както и удовлетворяване на високите изисквания на европейските норми.<br />
					<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
					<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p></div>
			</div>
			<div class="BLOCK-Right">
				<div class="Block-Title">Продукти и Услуги</div>
				<div class="Block-Picture">
					<img alt="Business Lines Image" height="53" src="../../pics/structure/Business-01.jpg" width="245" /></div>
				<div class="Block-List-UL-NoPadMar">
					<ul>
						<li>&raquo &nbsp; SM 9xx - Регулатори на Температура</li>
						<li>&raquo &nbsp; SM 3xx - Броячи</li>
						<li>&raquo &nbsp; SM 4xx - Таймери</li>
						<li>&raquo &nbsp; SM 5xx - Програмируеми Индикатори</li>
						<li>&raquo &nbsp; SM 6xx - Регулатори на Дебит</li>
						<li>&raquo &nbsp; SM 7xx - Регулатори на Влажност</li>
						<li>&raquo &nbsp; SM 8xx - Специаилизирани Контрол.</li>
						<li>&raquo &nbsp; SM 11xx - Моточасовници</li>
						<li>&raquo &nbsp; 107x - Безжични Ком. Конвертери</li>
						<li>&raquo &nbsp; 106x - Жични Ком. Конвертери</li>
						<li>&raquo &nbsp; 104x - Вх/Изх Разшир. Модули</li>
						<li>&raquo &nbsp; 103x - Изходни Разшир. Модули</li>
						<li>&raquo &nbsp; 102x - Конвертери</li>
						<li>&raquo &nbsp; 7xxx - Захранвания &amp; Стабилизатори</li>
						<li>&raquo &nbsp; 2xx - Кръгови Енкодери</li>
						<li>&raquo &nbsp; Разработка на цяла система</li>
						<li>&raquo &nbsp; Подмяна на стара система</li>
						<li>&raquo &nbsp; Дизайн на печатни платки</li>
						<li>&raquo &nbsp; Производство на печатни платки</li>
						<li>&raquo &nbsp; HIC дизайн и производство</li>
						<li>&raquo &nbsp; Насищане с SMD компоненти</li>
						<li>&raquo &nbsp; Насищане с проходни компоненти</li>
						<li>&raquo &nbsp; Доставка на елементи</li>
					</ul>
				</div>
			</div>
		</div>


		</div>		<!-- #CENTER End -->

		</div>	<!-- #CENTER-ALL End -->


</div>

</body>

</html>
