{% extends 'index.html' %}

{% block 'body' %}

<div id="CONTAINER">
<div class="row mb-5 justify-content-md-center">

	<!--<div class="col-lg-3 p-0 m-0"></div>-->
    <div class="px-5 pt-0 pb-5 mb-5" style="width: 55rem;">
		<div id="CENTER-TOPIC">
			<h1 class="TopicStyle3"><b>PRODUCTS</b></h1>
		</div>
	<br>
	<center>
	<div class="row">

		<div class="col-lg-6 p-0">
			<div class="card rounded-0" style="width: 20rem; margin:0; border-color: #4374ad;">
				<div class="card-header rounded-0 p-1 pt-2" style="background-color: #27909b;">
					<center><h4><b>Control Units</b></h4></center>
				</div>

				<div class="card-body rounded-0 p-2" style="background-color: #2c3451;">
					<img src="http://www.smplus.org/pics/structure/ControlUnits-01.jpg" alt="Control Units" class="card-img-top rounded-0" style="max-width: 300px; max-height: 300px">
				</div>

				<div class="card-body rounded-0 px-3 pt-3 pb-3.5 text-left" style="background-color: #4374ad; font-size: 13px; font-family: Verdana; line-height: 22px;">
					Control Units provide reliable control of production process through
					different type <br />of programmable devices. User specified equipment is also an option.
				</div>

				<hr style="border: 2px solid #2c3451; margin: 0; padding: 0;">

				<div class="card-body rounded-0 p-3 text-left" style="background-color: #4374ad;">
				<div class="Block-List-UL-NoPadMar">
					<p class="TextNoPadMar"><u>Category List</u></p>
					<ul>
						<li>&raquo &nbsp; 9xx - Temperature Controllers</li>
						<li>&raquo &nbsp; 3xx - Counters</li>
						<li>&raquo &nbsp; 4xx - Timers</li>
						<li>&raquo &nbsp; 5xx - Panel Indicators</li>
						<li>&raquo &nbsp; 6xx - Flow Controllers</li>
						<li>&raquo &nbsp; 7xx - Humidity Controllers</li>
						<li>&raquo &nbsp; 8xx - Special Application</li>
						<li>&nbsp;</li>
					</ul>
				</div>
				</div>

			</div>
		</div>



		<div class="col-lg-6 p-0 mb-5">
			<div class="card rounded-0" style="width: 20rem; margin:0; border-color: #4374ad;">
				<div class="card-header rounded-0 p-1 pt-2" style="background-color: #27909b;">
					<center><h4><b>Devices</b></h4></center>
				</div>
				<div class="card-body rounded-0 p-2" style="background-color: #2c3451;">
					<img src="http://www.smplus.org/pics/structure/Devices-01.jpg" alt="Devices" class="card-img-top rounded-0" style="max-width: 300px; max-height: 300px">
				</div>

				<div class="card-body rounded-0 px-3 pt-3 pb-3.5 text-left" style="background-color: #4374ad; font-size: 13px; font-family: Verdana; line-height: 22px;">
					Devices provide additional functionality to Control Units,
					measure and transmit parameters of surrounding environment or
					perform simple stand alone functions.
				</div>

				<hr style="border: 2px solid #2c3451; margin: 0; padding: 0;">

				<div class="card-body rounded-0 p-3 text-left" style="background-color: #4374ad;">
				<div class="Block-List-UL-NoPadMar">
					<p class="TextNoPadMar"><u>Category List</u></p>
					<ul>
						<li>&raquo &nbsp; 11xx - Hour Meters</li>
						<li>&raquo &nbsp; SM 107x - Wireless Com. Converters</li>
						<li>&raquo &nbsp; SM 106x - Wired Com. Converters</li>
						<li>&raquo &nbsp; SM 104x - In/Out Expansion Modules</li>
						<li>&raquo &nbsp; SM 103x - Output Expansion Modules</li>
						<li>&raquo &nbsp; 7xxx - Power Units</li>
						<li>&raquo &nbsp; 2xx - Rotary Encoders</li>
						<li>&raquo &nbsp; 1xx - Sensors</li>
					</ul>
				</div>
				</div>

			</div>
		</div>


		<div class="col-lg-6 p-0 mb-5">
			<div class="card rounded-0" style="width: 20rem; margin:0; border-color: #4374ad;">
				<div class="card-header rounded-0 p-1 pt-2" style="background-color: #27909b;">
					<center><h4><b>Software</b></h4></center>
				</div>
				<div class="card-body rounded-0 p-2" style="background-color: #2c3451;">
					<img src="http://www.smplus.org/pics/structure/Software-01.jpg" alt="Software" class="card-img-top rounded-0" style="max-width: 300px; max-height: 300px">
				</div>

				<div class="card-body rounded-0 px-3 pt-3 pb-3.5 text-left" style="background-color: #4374ad; font-size: 13px; font-family: Verdana; line-height: 22px;">
					Software products offer remote control, setting up device configuration
					and data storage for different type of control units.
				</div>

				<hr style="border: 2px solid #2c3451; margin: 0; padding: 0;">

				<div class="card-body rounded-0 p-3 text-left" style="background-color: #4374ad;">
				<div class="Block-List-UL-NoPadMar">
					<p class="TextNoPadMar"><u>Category List</u></p>
					<ul>
						<li>&raquo &nbsp; TEMP8</li>
						<li>&raquo &nbsp; TEMP16</li>
						<li>&raquo &nbsp; TEMP24</li>
						<li>&raquo &nbsp; TEMP32</li>
					</ul>
				</div>
				</div>

			</div>
		</div>


		<div class="col-lg-6 p-0 mb-5">
			<div class="card rounded-0" style="width: 20rem; margin:0; border-color: #4374ad;">
				<div class="card-header rounded-0 p-1 pt-2" style="background-color: #27909b;">
					<center><h4><b>Custom Solutions</b></h4></center>
				</div>
				<div class="card-body rounded-0 p-2" style="background-color: #2c3451;">
					<img src="http://www.smplus.org/pics/structure/Custom-01.jpg" alt="Custom Solutions" class="card-img-top rounded-0" style="max-width: 300px; max-height: 300px">
				</div>

				<div class="card-body rounded-0 px-3 pt-3 pb-3.5 text-left" style="background-color: #4374ad; font-size: 13px; font-family: Verdana; line-height: 22px;">
					Custom Solutions gives individual approach to specific customer
					requirements or full system development.
				</div>

				<hr style="border: 2px solid #2c3451; margin: 0; padding: 0;">

				<div class="card-body rounded-0 p-3 text-left" style="background-color: #4374ad;">
				<div class="Block-List-UL-NoPadMar">
					<p class="TextNoPadMar"><u>Category List</u></p>
					<ul>
						<li>&raquo &nbsp; Whole system development</li>
						<li>&raquo &nbsp; Old system replacement</li>
						<li>&raquo &nbsp; Adding functions to existing product</li>
						<li>&raquo &nbsp; Enclosure change</li>
					</ul>
				</div>
				</div>

			</div>
		</div>

		<!--<div class="col-lg-1"></div>-->
	</div>
	</center>

    </div>

</div> <!-- End of MAIN ROW -->
</div> <!-- End of CONTAINER -->

{% endblock %}
