{% extends 'index.html' %}

{% block 'body' %}

<div id="CONTAINER">
<div class="row mb-5 justify-content-md-center">

	<!--<div class="col-lg-3 p-0 m-0"></div>-->
    <div class="px-5 pt-0 pb-5 mb-5" style="width: 55rem;">
		<div id="CENTER-TOPIC">
			<h1 class="TopicStyle3"><b>SERVICES</b></h1>
		</div>
	<br>
	<center>
	<div class="row">

		<div class="col-lg-6 p-0">
			<div class="card rounded-0" style="width: 20rem; margin:0; border-color: #4374ad;">
				<div class="card-header rounded-0 p-1 pt-2" style="background-color: #27909b;">
					<center><h4><b>PCB Design & Production</b></h4></center>
				</div>

				<div class="card-body rounded-0 p-2" style="background-color: #2c3451;">
					<img src="http://www.smplus.org/pics/structure/PCB-01.jpg" alt="PCB Design & Production" class="card-img-top rounded-0" style="max-width: 300px; max-height: 300px">
				</div>

				<div class="card-body rounded-0 px-3 pt-3 pb-3.5 text-left" style="background-color: #4374ad; font-size: 13px; font-family: Verdana; line-height: 22px;">
					Printed circuit boards (PCB) gives an opportunity to implement
					your schematic design fast and reliable at acceptable price.
				</div>

				<hr style="border: 2px solid #2c3451; margin: 0; padding: 0;">

				<div class="card-body rounded-0 p-3 text-left" style="background-color: #4374ad;">
				<div class="Block-List-UL-NoPadMar">
					<p class="TextNoPadMar"><u>Category List</u></p>
					<ul>
						<li>&raquo &nbsp; Manual and Automatic PCB design</li>
						<li>&raquo &nbsp; PCB project processing</li>
						<li>&raquo &nbsp; Manufacturing of one or two side PCB</li>
						<li>&raquo &nbsp; Three types of ending</li>
						<li>&raquo &nbsp; Different board thickness</li>
						<li>&raquo &nbsp; Different mask colors</li>
					</ul>
				</div>
				</div>

			</div>
		</div>



		<div class="col-lg-6 p-0 mb-5">
			<div class="card rounded-0" style="width: 20rem; margin:0; border-color: #4374ad;">
				<div class="card-header rounded-0 p-1 pt-2" style="background-color: #27909b;">
					<center><h4><b>HIC Design & Production</b></h4></center>
				</div>
				<div class="card-body rounded-0 p-2" style="background-color: #2c3451;">
					<img src="http://www.smplus.org/pics/structure/HIC-01.jpg" alt="HIC Design & Production" class="card-img-top rounded-0" style="max-width: 300px; max-height: 300px">
				</div>

				<div class="card-body rounded-0 px-3 pt-3 pb-3.5 text-left" style="background-color: #4374ad; font-size: 13px; font-family: Verdana; line-height: 22px;">
					Advantages of hybrid integrated technology are
					high component density, high temperature stability
					and high reliability.
				</div>

				<hr style="border: 2px solid #2c3451; margin: 0; padding: 0;">

				<div class="card-body rounded-0 p-3 text-left" style="background-color: #4374ad;">
				<div class="Block-List-UL-NoPadMar">
					<p class="TextNoPadMar"><u>Category List</u></p>
					<ul>
						<li>&raquo &nbsp; HIC design</li>
						<li>&raquo &nbsp; HIC manufacturing</li>
						<li>&raquo &nbsp; Functional adjustment</li>
						<li>&raquo &nbsp; Testing</li>
					</ul>
				</div>
				</div>

			</div>
		</div>


		<div class="col-lg-6 p-0 mb-5">
			<div class="card rounded-0" style="width: 20rem; margin:0; border-color: #4374ad;">
				<div class="card-header rounded-0 p-1 pt-2" style="background-color: #27909b;">
					<center><h4><b>Unit Assembly</b></h4></center>
				</div>
				<div class="card-body rounded-0 p-2" style="background-color: #2c3451;">
					<img src="http://www.smplus.org/pics/structure/Assembly-01.jpg" alt="Unit Assembly" class="card-img-top rounded-0" style="max-width: 300px; max-height: 300px">
				</div>

				<div class="card-body rounded-0 px-3 pt-3 pb-3.5 text-left" style="background-color: #4374ad; font-size: 13px; font-family: Verdana; line-height: 22px;">
					Attentively combining PCB/HIC pad with components, cables and cases
					is one of the final processes that brings unit alive.
				</div>

				<hr style="border: 2px solid #2c3451; margin: 0; padding: 0;">

				<div class="card-body rounded-0 p-3 text-left" style="background-color: #4374ad;">
				<div class="Block-List-UL-NoPadMar">
					<p class="TextNoPadMar"><u>Category List</u></p>
					<ul>
						<li>&raquo &nbsp; Surface Mount (SMT) assembly</li>
						<li>&raquo &nbsp; Through hole components placing</li>
						<li>&raquo &nbsp; Mixed technology assembly</li>
						<li>&raquo &nbsp; Cable &amp; Mechanical assembling <br />&nbsp;</li>
					</ul>
				</div>
				</div>

			</div>
		</div>


		<div class="col-lg-6 p-0 mb-5">
			<div class="card rounded-0" style="width: 20rem; margin:0; border-color: #4374ad;">
				<div class="card-header rounded-0 p-1 pt-2" style="background-color: #27909b;">
					<center><h4><b>Components Supply</b></h4></center>
				</div>
				<div class="card-body rounded-0 p-2" style="background-color: #2c3451;">
					<img src="http://www.smplus.org/pics/structure/Components-01.jpg" alt="Components Supply" class="card-img-top rounded-0" style="max-width: 300px; max-height: 300px">
				</div>

				<div class="card-body rounded-0 px-3 pt-3 pb-3.5 text-left" style="background-color: #4374ad; font-size: 13px; font-family: Verdana; line-height: 22px;">
					Components supply is addition service that is offered to our clients
					to save their time and efforts using reliable supply chains.
				</div>

				<hr style="border: 2px solid #2c3451; margin: 0; padding: 0;">

				<div class="card-body rounded-0 p-3 text-left" style="background-color: #4374ad;">
				<div class="Block-List-UL-NoPadMar">
					<p class="TextNoPadMar"><u>Category List</u></p>
					<ul>
						<li>&raquo &nbsp; Active components</li>
						<li>&raquo &nbsp; Passive components</li>
						<li>&raquo &nbsp; Power units</li>
						<li>&raquo &nbsp; Mechanical parts</li>
						<li>&raquo &nbsp; Cables</li>
					</ul>
				</div>
				</div>

			</div>
		</div>

		<!--<div class="col-lg-1"></div>-->
	</div>
	</center>

    </div>

</div> <!-- End of MAIN ROW -->
</div> <!-- End of CONTAINER -->

{% endblock %}
